*{
    margin: 0;
    padding: 0;
    border: 0;
}

nav{
    border: 0.5px solid black;
}

body{
    background-color: #F8F3D9;
}

.container{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #A3D1C6;
}

.choose1 {
    display: flex;
}

.form-check1
{
    margin-left: 10px;
}

.choose2{
    display: flex;
}

.form-check2
{
    margin-left: 10px;
}